[Unit]
Description=Visit one random page on each Factorio site every hour

[Timer]
OnCalendar=hourly
Persistent=true
AccuracySec=30s
Unit=factorio-healthcheck.service

[Install]
WantedBy=timers.target
